.cbp-rfgrid {
	margin: 35px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.cbp-rfgrid li {
  height:auto;
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
  img {
    height:auto;
    width:250px;
  }
}

.cbp-rfgrid li,
.cbp-rfgrid li  img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.cbp-rfgrid li  img {
	max-width: 100%;
}



/* media querys */
@media screen and (max-width: 3000px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 8);
		width: calc(100% / 8);
		img {
			height:auto;
		}
	}
}
@media screen and (max-width: 1500px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 8);
		width: calc(100% / 8);
		img {
			height:auto;
		}
	}
}
@media screen and (max-width: 1300px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 8);
		width: calc(100% / 8);
		img {
			height:auto;
		}
	}
}
@media screen and (max-width: 1250px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 8);
		width: calc(100% / 8);
    img {
      height:auto;
    }
	}
}
@media screen and (max-width: 1200px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
    img {
      height:auto;
    }
	}
}
@media screen and (max-width: 1190px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
    img {
      height:auto;
    }
	}
}
@media screen and (max-width: 1180px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
    img {
      height:auto;
    }
	}
}
@media screen and (max-width: 1050px) {
	.cbp-rfgrid li {
    height:auto;
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4 );
    img {
      height:auto;
    }
	}
}


@media screen and (max-width: 945px) {
	.cbp-rfgrid li {
    height:auto;
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}
@media screen and (max-width: 850px) {
	.cbp-rfgrid li {
    height:auto;
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}
@media screen and (max-width: 660px) {
	.cbp-rfgrid li {
    height:auto;
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

}

//@media screen and (max-width: 560px) {
//	.cbp-rfgrid li {
//		width: 33.3333333%; /* Fallback */
//		width: -webkit-calc(100% / 2);
//		width: calc(100% / 2);
//	}
//
//}
@media screen and (max-width: 560px) {
	.cbp-rfgrid li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.ornaments {
	   div {

	     &:nth-child(1){
	         display: none;
	     }

	     &:nth-child(2){
	       left: 0% !important;
				     top: -10em !important;
	        @include animation(from-top 2s .5s ease-out forwards);
	     }

	     &:nth-child(3){
	       display: none;
	     }

	     &:nth-child(4){
	       left: 20% !important;
	       top: -1em !important;
	       @include animation(from-top 2s 1.5s ease-out forwards);
	     }

	     &:nth-child(5){
	       display: none;
	     }
	     &:nth-child(6){
	       left: 61% !important;
	       top: -12em !important;
	       @include animation(from-top 2s 1.5s ease-out forwards);
	     }
	     &:nth-child(7){
	      display: none;
	     }
	   }
	}
	.gift-wrapper {
		.hero {
			 img {
				     width: 95% !important;
			 		}
					.copyblock {
						width: 100% !important;
					}
			 	}
			 }
	.footer-header {
		img {
			width: 80%;
		}
	}
	.footer-grid {
		padding:30px 0 !important;
		.left {
			img {
			height: 20px;
			}
		}
		.center {
			img {
			height: 20px;
			}
		}
		.right {
			img {
			height: 20px;
			}
		}
	}
}

@media screen and (max-width: 300px) {
	.cbp-rfgrid li {
		width: 100%;
	}
}
